{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if request.user.is_authenticated %}
<div class="text-center my-5">
  <h2>見学希望確認画面</h2>
</div>

<div class="row">
<div class="text-left col-4 mb-2 ml-3">
  <a href="{% url 'semi:seminar' %}" class='btn btn-outline-primary'>ゼミ一覧へ戻る</a>
</div>
<div class="text-right col-7 mb-2">
    <a href="{% url 'semi:logout' %}" class='btn btn-outline-danger mb-2'>ログアウト</a>
</div>
</div>

<div class="card border-info shadow-sm my-3 mx-3">
  <div class="card-header text-info">
    <h5>見学希望者との連絡の取り方</h5>
  </div>
  <div class="card-body text-info">
    <p>
      ① 見学の受け入れの可否（受け入れる場合はその日付も含める）
      <br>
      ② 見学の形式（オンラインor対面）
      <br>
      ③ オンラインの場合は使用するツールと招待URLを、対面の場合は使用する教室名
      <br>
      以上の3点を含んだ内容のメールを見学希望者宛に送信してください。
      <br>
      ※ 上記の3点が確定していない場合は、いつまでに通知するのかという旨のメールを送信してください。
    </p>
  </div>
</div>

{% for booking in bookings %}
<div class="card shadow-sm my-3 mx-3">
  <div class="card-header">
    <h5>見学希望申請</h5>
      <p>＜送信日時：{{ booking.updated_at }}＞</p>

  </div>
  <div class="card-body">
    <p>学籍番号：　{{ booking.stu_num }}</p>
    <p>メール：　{{ booking.stu_num }}@okiu.ac.jp</p>
    <p>{{ booking.booking_date }}</p>
  </div>
</div>
{% endfor %}

{% else %}
  <h2>ログインが必要なページです。</h2>
  <a href="{% url 'semi:login' %}">ログイン</a>
{% endif %}


{% include 'ref_footer.html' %}

{% endblock %}
